.navigation {
	width: 100%;
	height: 100px;
	
	display: flex;
	justify-content: flex-start;
	align-content: space-between;
	margin-top: 10px;
	
	
}

.logobox {
	
	height: 100px;


	img {
		height: 100px;
		margin-left: 40px;
		
	}
}

.navigation > nav {
	width: 100%;
	height: 100px;
	
	display: flex;
	justify-content: center;
	align-items: center;


	ul {
		



		li {
			display: inline;
			margin: 0 25px 0 25px;


				a {

					text-decoration: none;
					color: #000;
					font-size: 15px;
					letter-spacing: 3px;
					text-transform: uppercase;
					font-weight: bold;
					font-family: 'Open Sans', sans-serif;
					padding-bottom: 5px;

				}


		}
	}
}


.navigation > nav > ul li a:hover {
	border-bottom: 2px solid #1F8040;
	transition:  0.3s;
}

////////////////////// MAIN CONTENT  /////////////////



.heroContainer {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
}



.maincontent {
	width: 70%;
	height: 800px;
	background-color: red;
	margin: 50px 0;
}

.sidebar {
	width: 30%;
	height: 800px;
	background-color: darkgrey;
	margin: 50px 0;
}

.footer {
	width: 100%;
	height: 100px;
	background-color: darkgrey;
	display: inline;
	display: flex;
	justify-content: center;
	align-items: center;

 		h1 {
			
 		}
}