.titlebox {
	width: 100%;
	height: 100px;
	background-color: #ccc;
	margin-top: 20px;
	display: flex;
	justify-content: flex-start;
	background-image: url('/images/pexels-photo-1080722.jpeg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	object-fit: fill;

	h1 {
		font-size: 25px;
		text-transform: uppercase;
		font-family: 'Open Sans', sans-serif;
		text-decoration: none;
		line-height: 100px;
		margin-left: 100px;
		color: #fff;
	}
}